# {{ ansible_managed }}
{% import 'j2macros.j2' as _tpl with context %}
#
# Shorewall -- /etc/shorewall/hosts
#
# For information about entries in this file, type "man shorewall-hosts"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-hosts.html
#
###############################################################################
#ZONE		HOSTS				OPTIONS
{% for _host in dubzland_shorewall_hosts -%}
{{ _tpl.print_host(_host) }}
{%- endfor %}
