{##############################################################################
 #
 # MACRO :: print_host()
 #
 #############################################################################}
{% macro print_host(_host) -%}
{%   set _fields    = [] %}
{%   set _          = _fields.append({ "format": "%-5s", "value": _host.zone | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t\t%-24s", "value": _host.hosts | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _host.options | default(None) }) %}
{{ print_fields(_fields) }}
{%- endmacro %}
{##############################################################################
 #
 # MACRO :: print_interface()
 #
 #############################################################################}
{% macro print_interface(_interface) -%}
{%   set _fields    = [] %}
{%   set _          = _fields.append({ "format": "%-8s", "value": _interface.zone | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-9s", "value": _interface.name | default(None) }) %}
{%   if _interface.options is defined and _interface.options %}
{%     set _        = _fields.append({ "format": "\t\t%-10s", "value": _interface.options | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t\t%-10s", "value": None }) %}
{%   endif %}
{{ print_fields(_fields) }}
{%- endmacro %}
{##############################################################################
 #
 # MACRO :: print_policy()
 #
 #############################################################################}
{% macro print_policy(_policy) -%}
{%   set _fields    = [] %}
{%   set _          = _fields.append({ "format": "%-5s", "value": _policy.source | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t\t%-5s", "value": _policy.dest | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t\t%-6s", "value": _policy.action | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-8s", "value": _policy.loglevel | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-6s", "value": _policy.rate | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _policy.connlimit | default(None) }) %}
{{ print_fields(_fields) }}
{%- endmacro %}
{##############################################################################
 #
 # MACRO :: print_tunnel()
 #
 #############################################################################}
{% macro print_tunnel(_tunnel) -%}
{%   set _fields    = [] %}
{%   set _          = _fields.append({ "format": "%-5s", "value": _policy.type | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t\t%-5s", "value": _policy.zone | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t\t%-6s", "value": _policy.gateway | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-8s", "value": _policy.gwzone | default(None) }) %}
{{ print_fields(_fields) }}
{%- endmacro %}
{##############################################################################
 #
 # MACRO :: print_rule()
 #
 #############################################################################}
{% macro print_rule(_rule) -%}
{%   if _rule.comment is defined and _rule.comment %}
# {{ _rule.comment }}
{%   endif %}
{%   set _fields    = [] %}
{%   set _          = _fields.append({ "format": "%-12s", "value": _rule.action | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-12s", "value": _rule.source | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-12s", "value": _rule.dest | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-5s", "value": _rule.proto | default(None) }) %}
{%   if _rule.dest_ports is defined and _rule.dest_ports %}
{%     set _        = _fields.append({ "format": "\t%-5s", "value": _rule.dest_ports | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%-5s", "value": None }) %}
{%   endif %}
{%   if _rule.source_ports is defined and _rule.source_ports %}
{%     set _        = _fields.append({ "format": "\t%-5s", "value": _rule.source_ports | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%-5s", "value": None }) %}
{%   endif %}
{%   set _          = _fields.append({ "format": "\t%-12s", "value": _rule.origdest | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _rule.rate | default(None) }) %}
{%   if _rule.users is defined and _rule.users %}
{%     set _        = _fields.append({ "format": "\t%s", "value": _rule.users | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%s", "value": None }) %}
{%   endif %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _rule.mark | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-9s", "value": _rule.connlimit | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _rule.time | default(None) }) %}
{%   if _rule.headers is defined and _rule.headers %}
{%     set _        = _fields.append({ "format": "\t%s", "value": _rule.headers | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%s", "value": None }) %}
{%   endif %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _rule.switch | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _rule.helper | default(None) }) %}
{{ print_fields(_fields) }}
{%- endmacro %}
{##############################################################################
 #
 # MACRO :: print_macro()
 #
 #############################################################################}
{% macro print_macro(_rule) -%}
{%   if _rule.comment is defined and _rule.comment %}
# {{ _rule.comment }}
{%   endif %}
{%   set _fields    = [] %}
{%   if _rule.action is not defined or _rule.action == "-" %}
{%     set _        = _fields.append({ "format": "%-12s", "value": "PARAM" }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "%-12s", "value": _rule.action }) %}
{%   endif %}
{%   set _          = _fields.append({ "format": "\t%-12s", "value": _rule.source | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-12s", "value": _rule.dest | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-5s", "value": _rule.proto | default(None) }) %}
{%   if _rule.dest_ports is defined and _rule.dest_ports %}
{%     set _        = _fields.append({ "format": "\t%-5s", "value": _rule.dest_ports | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%-5s", "value": None }) %}
{%   endif %}
{%   if _rule.source_ports is defined and _rule.source_ports %}
{%     set _        = _fields.append({ "format": "\t%-5s", "value": _rule.source_ports | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%-5s", "value": None }) %}
{%   endif %}
{%   set _          = _fields.append({ "format": "\t%-12s", "value": _rule.origdest | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _rule.rate | default(None) }) %}
{%   if _rule.users is defined and _rule.users %}
{%     set _        = _fields.append({ "format": "\t%s", "value": _rule.users | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%s", "value": None }) %}
{%   endif %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _rule.mark | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-9s", "value": _rule.connlimit | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _rule.time | default(None) }) %}
{%   if _rule.headers is defined and _rule.headers %}
{%     set _        = _fields.append({ "format": "\t%s", "value": _rule.headers | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%s", "value": None }) %}
{%   endif %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _rule.switch | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _rule.helper | default(None) }) %}
{{ print_fields(_fields) }}
{%- endmacro %}
{##############################################################################
 #
 # MACRO :: print_ruleset()
 #
 #############################################################################}
{% macro print_ruleset(_ruleset) -%}
{%   if _ruleset.comment is defined and _ruleset.comment %}

#-------------------------------------------------------------------------------
# {{ _ruleset.comment }}
#-------------------------------------------------------------------------------
{%   endif %}
{%   if _ruleset.rules is defined and _ruleset.rules %}
{%     for _rule in _ruleset.rules -%}
{{ print_rule(_rule) }}
{%-    endfor %}
{%   endif %}
{%- endmacro %}
{##############################################################################
 #
 # MACRO :: print_snat()
 #
 #############################################################################}
{% macro print_snat(_rule) -%}
{%   set _fields    = [] %}
{%   set _          = _fields.append({ "format": "%-6s", "value": _rule.action | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t\t%-12s", "value": _rule.source | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t\t%-9s", "value": _rule.dest | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-5s", "value": _rule.proto | default(None) }) %}
{%   if _rule.dest_ports is defined and _rule.dest_ports %}
{%     set _        = _fields.append({ "format": "\t%-5s", "value": _rule.dest_ports | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%-5s", "value": None }) %}
{%   endif %}
{%   if _rule.ipsec is defined and _rule.ipsec %}
{%     set _        = _fields.append({ "format": "\t%-5s", "value": _rule.ipsec | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%-5s", "value": None }) %}
{%   endif %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _rule.mark | default(None) }) %}
{%   if _rule.users is defined and _rule.users %}
{%     set _        = _fields.append({ "format": "\t%s", "value": _rule.users | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%s", "value": None }) %}
{%   endif %}
{%   set _          = _fields.append({ "format": "\t%s", "value": _rule.switch | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-12s", "value": _rule.origdest | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t%-12s", "value": _rule.probability | default(None) }) %}
{{ print_fields(_fields) }}
{%- endmacro %}
{##############################################################################
 #
 # MACRO :: print_zone()
 #
 #############################################################################}
{% macro print_zone(_zone) -%}
{%   set _fields    = [] %}
{%   set _          = _fields.append({ "format": "%-5s", "value": _zone.name | default(None) }) %}
{%   set _          = _fields.append({ "format": "\t\t%-12s", "value": _zone.type | default(None) }) %}
{%   if _zone.options is defined and _zone.options %}
{%     set _        = _fields.append({ "format": "\t%-12s", "value": _zone.options | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%-12s", "value": None }) %}
{%   endif %}
{%   if _zone.in_options is defined and _zone.in_options %}
{%     set _        = _fields.append({ "format": "\t%-12s", "value": _zone.in_options | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%-12s", "value": None }) %}
{%   endif %}
{%   if _zone.out_options is defined and _zone.out_options %}
{%     set _        = _fields.append({ "format": "\t%-12s", "value": _zone.out_options | join(",") }) %}
{%   else %}
{%     set _        = _fields.append({ "format": "\t%-12s", "value": None }) %}
{%   endif %}
{{ print_fields(_fields) }}
{%- endmacro %}
{##############################################################################
 #
 # MACRO :: print_fields()
 #
 #############################################################################}
{% macro print_fields(_fields) %}
{%   set _values = [] %}
{%   for _field in (_fields | reverse()) %}
{%     if _field.value is not none %}
{%       set _ = _values.insert(0, (_field.format | format(_field.value))) %}
{%     else %}
{%       if (_values | length()) > 0 %}
{%         set _ = _values.insert(0, (_field.format | format("-"))) %}
{%       endif %}
{%     endif %}
{%   endfor %}
{{ _values | join("") }}
{% endmacro %}
