# {{ ansible_managed }}
#
# Shorewall - Sample Rules File for three-interface configuration.
# Copyright (C) 2006-2015 by the Shorewall Team
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2.1 of the License, or (at your option) any later version.
#
# See the file README.txt for further details.
#------------------------------------------------------------------------------------------------------------
# For information about entries in this file, type "man shorewall-rules"
######################################################################################################################################################################################################
#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME		HEADERS		SWITCH		HELPER
#							PORT	PORT(S)		DEST		LIMIT		GROUP
{% for section in dubzland_shorewall_rules %}
?SECTION {{ section.section }}
{%   for ruleset in section.rulesets %}
{%     if ruleset.comment is defined and ruleset.comment %}

#
# {{ ruleset.comment }}
#
{%     endif %}
{%     if ruleset.rules is defined and ruleset.rules %}
{%       for rule in ruleset.rules %}
{{ '%-12s\t%-12s\t%-12s\t%-5s\t%s' | format(rule.action, rule.source, rule.dest, rule.proto | default(''), rule.dest_ports | default([]) | join(',')) }}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endfor %}
