# {{ ansible_managed }}
{% import 'macros.j2' as _tpl with context %}
#
# Shorewall -- /etc/shorewall/snat
#
# For information about entries in this file, type "man shorewall-snat"
#
# See http://shorewall.net/manpages/shorewall-snat.html for more information
#
###########################################################################################################################################
#ACTION			SOURCE			DEST		PROTO	PORT	IPSEC	MARK	USER	SWITCH	ORIGDEST	PROBABILITY
{% for _rule in dubzland_shorewall_snat -%}
{{ _tpl.print_snat(_rule) }}
{%- endfor %}
