# {{ ansible_managed }}
#
# Shorewall -- /etc/shorewall/snat
#
# For information about entries in this file, type "man shorewall-snat"
#
# See http://shorewall.net/manpages/shorewall-snat.html for more information
#
###########################################################################################################################################
#ACTION			SOURCE			DEST		PROTO	PORT	IPSEC	MARK	USER	SWITCH	ORIGDEST	PROBABILITY
{% if dubzland_shorewall_masquerade.enabled %}
MASQUERADE		{{ '%-6s\t\t\t%s' | format(dubzland_shorewall_masquerade.sources | join(','), dubzland_shorewall_masquerade.interface) }}
{% endif %}
