# {{ ansible_managed }}
{% import 'j2macros.j2' as _tpl with context %}
#
# Shorewall -- /etc/shorewall/snat
#
# For information about entries in this file, type "man shorewall-snat"
#
# See http://shorewall.net/manpages/shorewall-snat.html for more information
#
###########################################################################################################################################
#TYPE                   ZONE    GATEWAY         GATEWAY
#                                               ZONE
{% for _rule in dubzland_shorewall_tunnels -%}
{{ _tpl.print_tunnel(_rule) }}
{%- endfor %}
