# {{ ansible_managed }}
{% import 'macros.j2' as _tpl with context %}
#
# Shorewall -- /etc/shorewall/zones
#
# For information about this file, type "man shorewall-zones"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-zones.html
#
###############################################################################
#ZONE		TYPE		OPTIONS		IN_OPTIONS	OUT_OPTIONS
{% for _zone in dubzland_shorewall_zones -%}
{{   _tpl.print_zone(_zone) }}
{%- endfor %}
